.card-user{
    .card-header{
        float: right;
        a{
            float: left;
        }
    }

    .card-body{
        img{
            width: 120px;
            height: 120px;
            @include solid-border(5px, $color-main);
            border-radius: 100px;
            display: inline-block;
        }

        .card-text.bio{
            font-size: 12px;
        }
    }

    .card-footer{
        background-color: #757575;

        div{
            padding: 0px 5px;
            border-right: 1px solid #464646;
            color: #f3f3f3;
            cursor: default;
            
            &:last-child{
                border-right: none;
            }
        }
    }
}