body {
    width: 100%;
    height: 100%;
}

.App {
    text-align: center;
}

label {
    float: left;
}

.a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    display: inline;
    &:hover {
        text-decoration: underline;
    }
}

.tag-list {
    list-style: none;
    display: block;
    padding-left: 0px;
    float: right;

    li{
        color: #aaa;
        font-size: 0.8rem;
        font-weight: 300;
        border: 1px solid #aaa; //color
        border-radius: 10px;
        padding: 0px 10px;
        display: inline-block;
        margin: 1px 1px;
        cursor: default;
    }
}

.editor-page{
    form{
        textarea{
            height: 100px;
        }
    }
}

.load-more{
    margin: 20px auto;
}

.div-center {
    margin: 0 auto;
    display: table;
}

.scroll-up {    
    background-color: #007bff;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    border: none;

    svg{
        @include transform-rotate(270deg);
    }
}

.arrow-up {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -5px;
}

.card-profile{
    position: absolute;
    left: 180px;
    top: 130px;
    z-index: 1;
}

.pagination>li>a, 
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination>li:first-child>a, 
.pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination>li:last-child>a, 
.pagination>li:last-child>span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination>li {
    display: inline;
}


.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}

.pagination>.disabled>a, 
.pagination>.disabled>a:focus, 
.pagination>.disabled>a:hover, 
.pagination>.disabled>span, 
.pagination>.disabled>span:focus, 
.pagination>.disabled>span:hover {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor: default;
}