.manage-posts{
    .card-header{
        text-align: left;
    }
    .card-body{
        .table{
            th{
                text-align: left;
                &:first-child{
                    width: 70%;
                }
            }
        }
    }
}