.post-preview {
    width: 100%;
    text-align: left;
    @include solid-border-bottom($color: #dee2e6);
    padding: 5px 0px;
    a{
        color: black;
        &:hover{
            text-decoration: none;
        }
        span{
            max-width: 30%;
            font-size: 0.8rem;
            font-weight: 300;
            color: #bbb; //color
        }
    }
    .post-preview-header{
        margin-bottom: 5px;
        img{
            width: 40px;
            height: 40px;
            border-radius: 100px;
        }
    }

    .post-preview-body{
        span{
            color: gray; //color
            font-size: 14px;
        }
    }
    
    
}

.post-userImage {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}