body {
    width: 100%;
    height: 100%;
}

.App {
    text-align: center;
}

label {
    float: left;
}

.a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    display: inline;
}

.a:hover {
    text-decoration: underline;
}

.header {
    background-color: rgba(60, 106, 179, 1);
    height: 40px;   
    width: 100%;
}

.header-unpinned {  
    position: relative;  
}

.header-pinned {  
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 90;
}

/* .header-nav .button-nav {
    height: 40px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 17px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
} */

.header-nav .button-nav {
    display: inline-flex;
    /* height: 40px; */
    align-items: center;
    margin-bottom: 5px;
    font-size: 17px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    position: relative;
}

.button-nav-pin {
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 17px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top: 11px;
    position: relative;
    border-radius: 15px;
}

.header-nav .button-nav.icon{
    padding-left: 40px;
}

.header-nav .button-nav svg{
    display: block;
    position: absolute;
    top: 0;
    margin: 8px;
    color: #757575;
    fill: #757575;
    left: 4px;
}


.header-nav .button-nav:hover{
    background-color: #447dd2;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 0.7) 0ms;
    border-radius: 5px;
}

.container {
    margin-top: 10px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* height: 500px; */
}

.nav-tabs > li {
    padding: 10px 15px 5px;

}

.nav-tabs > li:hover {
    cursor: pointer;

}

.nav-tabs > li.active{
    border-bottom: 2px solid #007bff;
}

.nav-tabs > li.active {
    cursor: default;
    color: #007bff;
    text-decoration: none;
}

.sidebar {
    padding: 5px 10px 10px 10px;
    background: #f3f3f3;
    border-radius: 10px;
}

.sidebar .tag-list{
    float: none;
}

div.fade.in {
    opacity: 1;
}

.feed-post-preview {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
    padding: 5px 0px;
}

.feed-post-preview>a{
    color: black;
}

.feed-post-preview> a:hover{
    text-decoration: none;
}

.feed-post-preview>a>span {
    max-width: 30%;
    font-size: 0.8rem;
    font-weight: 300;
    color: #bbb;
}

.post-preview-header {
    margin-bottom: 5px;
}

.post-preview-body span {
    color: gray;
    font-size: 14px;
}

.post-userImage {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.tag-list {
    list-style: none;
    display: block;
    padding-left: 0px;
    float: right;
}

.tag-list > li {
    color: #aaa;
    font-size: 0.8rem;
    font-weight: 300;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 0px 10px;
    display: inline-block;
    margin: 1px 1px;
    cursor: default;
}

.article-header {
    /* height: 150px; */
    background-color: #444;
    padding: 2rem 15px;
}

.article-header div.row {
    color: white;
}

.article-meta img {
    width: 40px;
    height: 40px;
}


.banner-container,
.post-container {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}



.banner-container>h2 {
    color: white;
}

.form-control,
form button {
    margin: 10px 0px;
}

.editor-page textarea {
    min-height: 100px;
}

/* .container-page .row,
.article-content.row {
    float: none;
    display: block;
    margin: 0 auto;
} */

.article-content,
.article-meta {
    text-align: left;
}

.article-content {
    margin-top: 10px;
}

.card {
    margin: 1.25rem 0;
}

.card textarea{
    margin: 0px;
    min-height: 100px;
}


.card-block textarea{
    margin: 0px;
}

.card-block .card-text{
    margin: 1.25rem;
}

.card-footer .date-posted {
    margin-left: 2px;
}

.card-footer .button-delete {
    cursor: pointer;
}

.article-meta .images {
    /* padding: 0px; */
    text-align: right;
}

.article-meta .author {
    display: inline-block;
}

.article-meta .author a{
    display: block;
}

.article-meta .buttons a,
.article-meta .buttons button{
    margin: 0px 4px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}


form .Select-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

form .Select-control {
    text-align: left;
}

.error {
    color: red;
}

.success {
    color: green;
}

.modal-link {
    display: inline;
}

.centered {
    text-align: center;
}

.text-align-right {text-align: right;}
.text-align-center {text-align: center;}
.text-align-justify {text-align: justify;}

.div-center {
    margin: 0 auto;
    display: table;
}

.padding-10 {padding: 10px;}
.padding-20 {padding: 10px;}
.padding-bottom-20 {padding-bottom: 20px;}

.height-40 {height: 40px;}

.display-linebreak {
    white-space: pre-line;
    margin-bottom: 1.25rem;
}

.profile {
    background-color: #f3f3f3;
    padding: 2rem 15px;
}

.user-img {
    display: inline-block !important;
    width: 150px;
    height: auto;
    border-radius: 100px;
}

.load-more{
    margin: 20px 0px;
}
.post-preview-header .post-like{
    cursor: pointer;
}

.button-with-icon svg{
    height: 15px !important;
    width: 15px !important;
}

.sidebar .tag-list li{
    cursor: pointer;
}

.sidebar .tag-list li:hover{
    color: #fff;
    background-color: #447dd2;
}

.article-content .tag-list{
    float: left;
}

/* .follower-container {
    display: flex;
} */

.follower-card .card-header a{
    float: left;
}
.follower-card .card-header{
    float: right;
}

.follower-card .card-header button{
    float: right;
}

.follower-card .card-body img{
    width: 120px;
    height: 120px;
    border: 5px solid #3c69b3;
    border-radius: 100px;
    display: inline-block;
}

.follower-card .card-body .card-text.bio{
    font-size: 12px;
}
.follower-card .card-footer {
    background-color: #757575;
}

.follower-card .card-footer div{
    padding: 0px 5px;
    border-right: 1px solid #464646;
    color: #f3f3f3;
    cursor: default;
}

.follower-card .card-footer div:last-child{
    border-right: none;
}



.scroll {    
    background-color: #007bff;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    border: none;
}

.arrow-up {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -5px;
}

.rotateimg270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.pin {
    max-width: 20px;
}

.pinned {
    background-color: black;
}